.rst-content .required .admonition-title {
	background: #3dbc9c
 }
 
 .rst-content .required {
	background: #dbfaf4
 }

 
 /* override table no-wrap */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}

.rst-content table.docutils td:first-child, 
.rst-content table.docutils th:first-child, 
.rst-content table.field-list td:first-child, 
.rst-content table.field-list th:first-child, 
.wy-table td:first-child,
.wy-table th:first-child {
    border-left-width: 1px;
}